@layer components {
  .TableHeader {
    &[data-virtualized='true'] {
      display: grid;
      position: sticky;
      top: 0;
      padding-bottom: var(--row-gap);
    }

    .TableRow {
      &[data-virtualized='true'] {
        display: flex;
        width: 100%;
      }

      .TableHead {
        &[data-virtualized='true'] {
          align-items: center;
          display: flex;
        }
      }
    }
  }
}
